body{
  background-color: rgb(226, 186, 228);
}
#main-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

}
#sub-div{
  display: flex;
 
  align-items: center;
  justify-content: center;
  gap: 50px;
  
}
#weight,#height{

  height: 150px;
  width: 150px;
  border-radius: 50%;
  text-align: center;
  border: 5px solid rgb(152, 203, 213);
  background-color: rgb(255, 0, 76);
  color: white;
  font-size: larger;
  font-weight: 900;
}

#weight::placeholder,
#height::placeholder {
  color:white; /* Change to the desired placeholder text color */
}
#button{
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 5px solid blue;
  background-color: black;
  color: white;
  font-weight: 900;
}
#result{
  height: 50px;
  width: 300px;
  text-align: center;
  border: 5px solid blue;
  background-color: black;
  color: white;
  font-weight: 900;
  padding: 10px;
  border-radius: 60px;
  display: none;
}
#sub-div2{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  
}
#findings{
  height: 50px;
  width: 300px;
  text-align: center;
  border: 5px solid blue;
  background-color: rgb(6, 7, 6);
  color: white;
  font-weight: 900;
  padding-top: 20px;
  border-radius: 60px;
  margin-top: 20px;
  display: none;

}
#heading{
  text-align: center;
}